* {
    box-sizing: border-box; 
}

@keyframes fade {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@font-face {
    font-family: "Necto Mono";
    src: url(type/Necto-Mono.woff2), url(type/Necto-Mono.woff);
}


body {
    background-color: #CCCCCC;
    font-family: "Necto Mono";
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0; 
    right: 0;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
}

nav a {
    color: black; 
    text-decoration: none;
    margin: 5px 32px 5px 32px;

    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

/* main {
    position: relative;
    z-index: 1; 
    background-color: #CCCCCC;
    min-height: 100vh;
    transition: transform 0.5s;
} */

section {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}


section div {
    width: 350px;
}

section div.content {
    margin: 0 0 0 60px;
}

/* makes image responsive */
section.gif img {
    width: 100%;
    height: auto;
}


h1 {
    font-size: 48px;
    line-height: 1.2;
}


div.slides {
    height: 475px;
    position: relative;

} 

div.slides img {
    position: absolute;
    top: 0; 
    left: 0;
    transition: transform 0.5s, box-shadow 0.5s;

    /* responsive  */
    width: 100%;
    height: auto;
    cursor: pointer;
}

div.slides img:first-child {
    z-index: 1;
}


div.slides:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}









div.p-container {
    text-align: center;  
}

div.p-text {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    /* align-items: center; */
    /* justify-content: center; */
    width: 600px;
    
    /* margin: 20px 0 20px 0; */
}


/*  iphone x */
@media screen and (max-width: 375px) {
 
    div.p-text {
        width: 300px;
    }
}


/* iphone 6/7/8 */
@media screen and (max-width: 414px) {

    /* main {
        display: flex;
    } */

    nav { 
        z-index: 99;
 
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.p-text {
        width: 300px;
    }

    div.year {
        z-index: 99;
        width: 125px;

    }

    div.slides {
        width: 275px;
    }

}